*{
    box-sizing: border-box;
    margin : 0px;
    padding:0px;
}
img{
    display:block;
    max-width: 100%;
    height:auto;
}
h2{
    margin-block:24px;
    font-size:40px;
    font-weight:500;

}
p{
    font-size:18px;
    font-weight:500;
}

body{
    background-color:hsl(127, 40%, 8%);
    color:white;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
.smart-header{
    width:100%;
    font-size:32px;
    display:grid;
    place-content:center;
    padding:24px;
    position:sticky;
    top:0;
    left:0;
    /* border-bottom:1px solid white;    */
    transform: scale(1);
    opacity: 1;
    transition:all 300ms ease-in-out;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
    /* background-color:hsl(127, 40%, 8%); */
}

.smart-header.hide{
    opacity:0;
    transform:translateY(-100%) scale(0.95);
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

/*TODO : review and refine code*/
/*TODO : use classList toggle*/

.container,.fetch-container{
    padding-block:60px;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.modal-button,.fetch-button{
    padding-block:32px;
    padding-inline:128px;
    color:#ffb700;
    font-size:24px;
    font-weight:600;
    letter-spacing: 0.8px;
    border:none;
    border-radius:16px;
    background-color: #000000;
}   
.modal-button:hover,.fetch-button:hover{
    background-color:hsla(0, 0%, 0%, 0.6);
}
.modal-container{
    position:fixed; /*positioned wrt viewport*/
    inset:0;
    display:none; /* Hidden by default */
    background-color:hsla(0, 0%, 0%, 0.9);
    justify-content: center;
    align-items: center;
    z-index:1000;
}


.modal{
    height:70%;
    /* max-height:50vh; */
    width:55%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    border-width:4px;
    border-color:#73823c;
    background-color: #fff;
    border-style:solid;
    padding-block:48px;
    padding-inline:16px;
    border-radius:16px;
    position:relative; /*again positioned relative to viewport*/
}

.modal img{
    max-width:70%;
}
.close{
    font-size:20px;
    position:absolute;
    top:16px;
    right:18px;
    z-index:1;
    cursor:pointer;
}
.text-content{
    margin-block:auto; /*margin's on vertical axis resolve to 0 when display is block*/
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

ol{
    color:#7bd34e;
    margin-block-start:32px;
    display:flex;
    flex-direction: column;
    align-items:start;
    gap:12px;
    font-size:22px;
    font-weight:300;
}

.status{
    margin-block:16px;
    padding-block:16px;
    padding-inline:48px;
    font-size:18px;

    border-radius: 8px;
}
.idle{
    background-color:hsla(360, 0%, 28.8%,0.4) ;
    color:hsl(360, 0%, 28.8%);
}
.loading{
    background-color:hsla(177, 99.4%, 62.2%,0.4) ;
    color:hsl(177 99.4% 62.2%);
}
.success{
    background-color:hsla(124, 99.4% ,50.3%,0.4);
    color:hsl(124 99.4% 50.3%) ;
    

}
.error{
    background-color : hsla(7 ,98.5%, 50.6%,0.4);
    color:hsl(7 98.5% 50.6%);

}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

.card-intersection-container{
    margin-block-start: 128px;
    padding-inline:64px;
}

.cards-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:32px;
}

.card{
    font-size:24px;
    padding-inline:32px;
    padding-block:16px;
    display: grid;
    place-content: center;
    border:3px solid #aaa;
    border-radius:16px;
    opacity:0;
    transform:translateX(200px);
    transition:opacity 200ms ease-in-out,transform 200ms ease-in-out;
}

.card.show{
    opacity:1;
    transform:translateX(0px);
}

/*---------------------------------------------------------------------------------------------------------------------------------------*/

.film-marquee{
    margin-block-start:64px;

}

.film-marquee h2{
    margin-block-end:24px;
    text-align: center;
    font-size:24px;
}

.marquee-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marquee-container{
    width:100%;
    max-width:800px;
    overflow:hidden;
    padding-block:32px;
    mask-image:linear-gradient(to right,transparent,black 10% , black 90%,transparent);

}

@keyframes moveLeft{
    0%{
        transform:translateX(0%);
    }
    100%{
        transform:translateX(calc(-50% - var(--gap)/2));
    }
}


.marquee-track{
    --gap:16px;

    width:max-content;
    display:flex;
    gap:var(--gap);

    animation-name:moveLeft;
    animation-duration:30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    will-change: transform;
}

.image-container{
    inline-size: 150px;
    block-size:100px;
    overflow:hidden;
    filter:grayscale(100%) opacity(0.5);
    transition:all 300ms ease-out;
}

.image-container:hover{
    filter:grayscale(0) opacity(1);
    scale:1.1;
}

.image-container img{
    border-radius:8px;

}

.image-container img:hover{

}




@media screen and (min-width:768px){

    .film-marquee h2{ 
        font-size: 64px;
    }

    .marquee-container{
        max-width:120vw;
    }

    .marquee-track{
        --gap:32px;
    }

    .image-container{
        inline-size: 300px;
        block-size:200px;
    }

}